<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="com.create.logging.MaskingPatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <argumentFormatter>com.create.logging.ConfidentialDataFormatter</argumentFormatter>
            <argumentFormatter>com.create.logging.UserDataFormatter</argumentFormatter>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>